@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Tenor+Sans&display=swap');

:root{
    --background-color: #EDEDEE;
    
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: var(--background-color);
    font-family: 'Tenor Sans', sans-serif;
}


.titles-two{
    justify-content: space-between;
    font-size: 0.9em;
    padding: 15px 315px 10px 315px;
}

.titles-two  h2{
    display: flex;
    flex-direction: column;
    font-size: 2.6em;
    border: none;
    margin-bottom: 25px;
    align-items: center;    
}

.titles-two  h3{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    border: none; 
    align-items: center;
    color: #E6621F;    
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 50px;
}

.container{
    margin: 10px 100px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    
     
}

.item{
    width: 250px;
    height: 350px;
    text-align: center;
}

.item1{
    width: 250px;
    height: 350px;
    text-align: center;
}


.item:hover{
    color: var(--room-color);
    background-color: #E6621F;
    color: #fff;
}

.item1:hover{
    border: 3px solid #E6621F;
}


.item img{
    width: 250px;
    height: 160px;
    
}

.item1 img{
    width: 250px;
    height: 160px;
    
}


.item h4{
    padding: 10px 0px 1px;
    font-size: 20px;  
}

.item1 h4{
    padding: 10px 0px 1px;
    font-size: 20px;  
}


.item p{
    padding: 30px 1px 40px;
    font-size: 13px; 
}

.item1 p{
    padding: 30px 1px 40px;
    font-size: 13px; 
}

.item a{
    text-decoration: none;
    color: #E6621F;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid #E6621F;
    padding: 5px 10px;
}

.item1 b{
    text-decoration: none;
    color: #E6621F;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid #E6621F;
    padding: 5px 10px;
}


.container a:hover{
    color: #fff;
    border: 3px solid #fdfdfd;
}

.item1 a{
    text-decoration: none;
    
    font-weight: 700;
    font-size: 15px;
    border: 3px solid #E6621F;
    padding: 5px 10px;
}

.container b:hover{
    color: #862f00;
    border: 3px solid #862f00;
    
}

